{% extends 'base.html' %}

{% block content %}


    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price for single product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cart_line in cart.cartline_set.all %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="d-flex">
                                            </div>
                                            <p>{{ cart_line.product.name }}
                                                - {{ cart_line.product.model }} {{ cart_line.product.manufacturing_year }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$ {{ cart_line.product.price }}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12"
                                               value="{{ cart_line.quantity }}" title="Quantity:"
                                               class="input-text qty" readonly>
                                    </div>
                                </td>
                                <td>
                                    <h5>$ {{ cart_line.get_sum_price }}</h5>
                                </td>
                                <td>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h3>Final price:</h3>
                            </td>
                            <td>
                                <h4 class="text-success">$ {{ cart.get_sum }} </h4>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="primary-btn" href="{% url 'purchaseproduct' %}">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-3"><label class="col-form-label"></label></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->




{% endblock %}